@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

html,body,#app {
  height: 100vh;
}

body {
  margin: 0;
  background-color: #313131;
}

#app{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}